@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
  --ajudar:white;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(45 100% 70%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;


}

@keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }


  .tracking-in-contract {
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
      transform: translateY(-600px) rotateX(-30deg) scale(0);
      transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

  /*.hoverText {
    --c:
    
    color: #fffefe00;
    background: 
      linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }

  .hoverText:hover {
    --_p: 100%;
    color: white;
  }*/


  .hoverText span {
    color: #000;
    position: relative;
    text-decoration: none;
  }
  
  .hoverText span::before {

    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: -1;
  }
  
  .hoverText span:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }


  .hoverMenu:hover {
    color: #75b2eb;
    background: 
      linear-gradient(90deg,#1095c1 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .3s;
    --_p: 0%;
  }

  .hoverMenu {
    font-family: system-ui, sans-serif;
    margin:0;
    cursor: pointer;
    padding: 0 .1em;
    --_p: 100%;
  }

  
  

.blurry-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .glass {
    background-color: rgb(228, 228, 228);
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
    height: 25rem;
    border-radius: 10%;
    margin: auto;
    color: #000000;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    line-height: 30px; 
    display:flex;
    

  }
  .slide-in-elliptic-top-fwd {
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.portfolio-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
  margin-top: 20%;
  margin-left: 5px;
  cursor: pointer;
}

.portfolio-title span {
  font-weight: bolder;
  color: #000000;
  }


  .card {
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 400px;
    transition: all 0.3s ease-in-out; /* animação de transição para suavizar a mudança de tamanho e posição */
    margin: auto;
  }
  
  .card:hover {
    transform: scale(1.05); /* aumenta o tamanho do card em 5% */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* aumenta a intensidade da sombra */
  }
  
  .card-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out; /* animação de transição para suavizar a mudança de opacidade */
    opacity: 0; /* inicia a opacidade em 0 para que a animação funcione */
  }
  
  .card:hover .card-content {
    opacity: 1; /* altera a opacidade para 1 quando o card é passado o mouse */
    bottom: -50px; /* move o conteúdo para cima 50px */
  }
  
 
.btn {
    z-index: 1;
    appearance: none;
    background-color: hsl(45 100% 70%);
    border: 2px solid hsl(45 100% 70%);
    border-radius: .9375rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15rem;
    height: 3.125rem;
    will-change: transform;
    position: absolute;
    left: 50%; /* Define a posição do botão a partir do centro da tela */
    transform: translateX(-50%); /* Move o botão para a esquerda em 50% da sua própria largura */
    transition: background-color 300ms cubic-bezier(.23, 1, 0.32, 1), border-color 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translate(-50%, -2px);
    background-color: #75b2eb;
    border-color: #75b2eb;
    transition: transform 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.btn:active {
    box-shadow: none;
    transform: translate(-50%, 0);
}



body{
    background-color: #555555;
    margin:0;
    height: 100%;
    margin: 0;
 
    
}


#toolbar{
    width: 100%;
    height: 80px;
    background-color: rgb(44, 49, 43);
    top: 0;
    position: fixed;
    left: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
#options{
  margin: 1.875rem auto; 
  color: #fafafa;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  text-align: center;
  transform: translateX(-6.875rem);
    
}
#title{
    
    color: #fafafa;
    text-transform: none;
    right: 5%;
    padding-left: 30px;
    font: 2.1875rem/1 'TeXGyreAdventorBold';
    text-transform: none;
    transform: translateX(0);
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.10s; 
    transition: transform 0.3s ease-in-out;   
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
#title:hover{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    transform: translateX(5px);
}
#subtitle {
  font-size: 10px;
  color: #fafafa;
  text-transform: none;
  margin-top: 1px; 

}

#video{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#img{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


#footer{
    position: relative;
    width: 100%;
    height: 2.8rem;
    background-color: rgb(44, 49, 43);
    bottom: -18.75rem;
    left: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}

#profile{
    z-index: 2;
    width: 25rem;
    height: 30rem;
    right:0;
    top: 0;
    margin-top: 6.25rem;
    margin-right: 1.25rem;
    position: fixed;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 0 0 5px white;
}



#text{
  text-align: center;
  line-height: 1.2;
  padding: .625rem;
}
section{
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  top:50%;
  position: relative;
  transform: translateY(+50%);
}


#background2{
  position: relative;
  width: 100%;
  height: 50rem;
  margin-top: 20%;
  z-index: -1;

}




#home {

  
  align-items: center;
  max-width: 1.25rem;
  margin-left: 3%;
  position: absolute;
  margin-top: -40rem;
  
}
.wrapper {
  z-index: 10;
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 56.25rem;
  height: 28.125rem;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3);
  
}


.header{
  width: max-content;
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  font-size: 3.125rem;
  
}


.content-splitter {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 0 3em;
  width: minmax(80px, 80%);
}

.content {
  font-size: 1.5em;
  color: #404040;
}

.right {
  overflow: hidden;
  clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%); 
  object-fit: cover;
}

@media screen and (max-width: 48rem) {
  .wrapper {
    grid-template-columns: 1fr;
    width: 90vw;
    height: auto;
  }
  .content-splitter {
    gap: 1em;
  }
  .left {
    gap: 2em;
    padding: 0 2em;
  }
  .right {
    display: none;
  }
}





























.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);

}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 3.125rem;
  margin-top: 6.25rem;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}
.box-container{
  flex-basis: 33.33% ;
  box-sizing: content-box;
  margin-bottom: 20px;
  
}

.box p {
  color: var(--grayishBlue);
}

.box {
  
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  background-color: #fafafa;
  width: 20rem;
  height: 11.125rem;
  transition: transform 0.3s ease;

}


.box img {
  float: right;
  width: 3.125rem;
  padding: 8px;
}

.box:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 30px 40px -20px var(--grayishBlue), 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 450px) {
  .box {
      height: 12.5rem;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 11.25rem;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}


#super {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  padding-left: 10px;
}
.row1-container,.row2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-left: 1000px;
  margin-top: -49.875rem;
  margin-bottom: 15px; 

}

@media (min-width: 950px) {
  .row1-container {
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 160px;
      padding: 10px;
  }
  .box {
      width: 85%;
   
  }
  .header p {
      width: 20%;
  }
  
}



